/* Student Name: Autar Acharya
   Student Number: 8906942
*/

body {
    font: normal normal normal 16px  Arial, sans-serif;
    background-color: hsla(200, 90%, 49%, 0.7);
    height: 100vh;
    width: 100vw;
}
h2 {
    color: #f00;
    font-size: 1.5em; 
}





